body {
    padding: 0px;
    margin: 0px;
}

/* Container */

.container {
    padding: 8px 10vw;
}

/* Hero */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero .small-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .medium-text {
    font-size: 24px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    display: flex;
    gap: 8px;
}

header ul a {
    text-decoration: none;
}



