body {
    padding: 0px;
    margin: 0px;
}

.large-text {
    font-weight: 800;
}

.medium-text {
    font-size: 24px;
    font-weight: 800;
}

.small-text {
    font-size: 18px;
}

/* Container */

.container {
    padding: 8px 10vw;
}

/* Hero */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero .small-text {
    color: #E5E7EB;
}

.hero .large-text {
    font-size: 48px;
}

/* Button */

button {
    border-radius: 8px;
    border-width: 0px;

    background-color: #3882F6;
    color: #F9FAF8;

    font-size: 18px;
    font-weight: bold;
    
    padding: 8px 24px;
}

/* Placeholder */

.placeholder {
    background-color: gray;
    color: lightgray;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    display: flex;
    gap: 8px;
}

header ul a {
    text-decoration: none;
}

/* Banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    display: flex;
    gap: 8px;
    align-items: stretch;
    
    padding-top: 96px;
    padding-bottom: 96px;
}

.banner .sub-container {
    flex: 1;

    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.banner .placeholder {
    flex: 1;
}

/* Informatoon */

.information {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
    padding-top: 48px;
    gap: 48px;
}

.information .large-text {
    font-size: 36px;
}

.information .sub-container {
    display: flex;
    justify-content: center;
    gap: 16px
}

.information figure {
    display: flex;
    flex-direction: column;
}

.information .placeholder {
    border-width: 5px;
    border-radius: 16px;
    border-color: #3882F6;
    border-style: solid;
    aspect-ratio: 1 / 1;
}

.information figcaption {
    text-align: center;
}

/* Quotation */

.quotation {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 96px 20vw;
    display: flex;
    flex-direction: column;
}

.quotation .large-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    align-self: flex-start;
}

.quotation .medium-text {
    align-self: flex-end;
}

/* Call to action */

.call-to-action {
    padding-top: 96px;
    padding-bottom: 96px;

    color: #F9FAF8;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.call-to-action .sub-container {
    background-color: #3882F6;
    padding: 32px 128px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}

.call-to-action button {
    display: block;
    border-width: 3px;
    border-color: #F9FAF8;
    border-style: solid;
}